@import 'tailwindcss';
@config '../tailwind.config.mjs';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary-100: var(--color-sky-100);
  --color-primary-400: var(--color-sky-400);
  --color-primary-500: var(--color-sky-500);
  --color-primary-600: var(--color-sky-600);
  /* 
  * Disqus Embed.js does not support OKLCH
  * https://jamesauble.com/blog/oklch-colors-workaround-for-disqus-embed-js/
  */
  --color-gray-100: #f3f4f6;
  --color-gray-800: #1e2939;
  --color-gray-900: #101828;
  --color-gray-950: #030712;
}

.bg-default {
  @apply bg-white dark:bg-gray-800;
}

.underline-2 {
  @apply underline underline-offset-2;
}

a {
  @apply dark:decoration-primary-600 decoration-primary-500;
}

.h1-heading {
  @apply text-4xl font-bold tracking-tight md:text-5xl lg:text-6xl;
}

.text-default {
  @apply text-gray-900 dark:text-gray-100;
}

.text-muted {
  @apply text-gray-600 dark:text-gray-400;
}

.link-hover {
  @apply hover:text-primary-600 dark:hover:text-primary-500 hover:drop-shadow-xl;
}

.header-button {
  @apply hover:text-primary-500 cursor-pointer hover:scale-125;
}

.button-primary {
  @apply bg-primary-600 hover:bg-primary-500 active:bg-primary-600 dark:bg-primary-500 dark:hover:bg-primary-400 dark:active:bg-primary-600;
  @apply inline-flex justify-center rounded-lg text-sm font-semibold text-gray-100 drop-shadow-md;
}

.divide-y-gray {
  @apply divide-y divide-gray-300 dark:divide-gray-700;
}

.icon-size {
  @apply h-6 w-6;
}

.flex-center {
  @apply flex items-center justify-center;
}

/* * {
  box-shadow:
    0 0 0 1px red inset,
    0 0 0 1px red;
} */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply border-t border-gray-200 pt-4 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.katex-display {
  overflow: auto hidden;
}

.content-header {
  @apply relative flex cursor-pointer items-start;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.content-header-link {
  @apply absolute ml-1 hidden opacity-0 transition-opacity duration-200 lg:block;
}

.prose {
  @apply wrap-break-word;
}

/* inline code */
.prose span[data-rehype-pretty-code-figure] code {
  @apply rounded-lg border border-gray-400 px-1 opacity-90 dark:border-gray-500;
}

/* remove `` */
span[data-rehype-pretty-code-figure] code::before,
span[data-rehype-pretty-code-figure] code::after {
  content: none !important;
}

.prose pre {
  @apply my-0;
}

figcaption[data-rehype-pretty-code-title] {
  @apply my-0 overflow-x-auto rounded-t-lg bg-gray-700 p-2 pl-4 text-sm text-gray-300 dark:bg-gray-800;
}

figcaption[data-rehype-pretty-code-title] + div.relative pre {
  @apply my-0 overflow-x-auto rounded-t-none;
}

/* https://itsbruno.dev/blog/syntax-highlighting-for-mdx */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  padding: 0;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 0.5rem;
  text-align: left;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: 2.25rem;
}
