@import 'tailwindcss';
@config '../tailwind.config.mjs';
@plugin '@tailwindcss/forms';

@theme {
  --color-primary-100: var(--color-sky-100);
  --color-primary-400: var(--color-sky-400);
  --color-primary-500: var(--color-sky-500);
  --color-primary-600: var(--color-sky-600);
}

.bg-default {
  @apply bg-neutral-50 dark:bg-gray-800;
}

a {
  @apply dark:decoration-primary-600 decoration-primary-500;
}

.text-default {
  @apply text-gray-900 dark:text-gray-100;
}

.text-muted {
  @apply text-gray-500 dark:text-gray-400;
}

.link-hover {
  @apply hover:text-primary-600 dark:hover:text-primary-500 hover:drop-shadow-xl;
}

.header-button {
  @apply hover:text-primary-500 cursor-pointer hover:scale-125;
}

.button-primary {
  @apply bg-primary-600 hover:bg-primary-500 active:bg-primary-600 dark:bg-primary-500 dark:hover:bg-primary-400 dark:active:bg-primary-600;
  @apply inline-flex justify-center rounded-lg text-sm font-semibold text-gray-100 shadow-sm;
}

.divide-y-gray {
  @apply divide-y divide-gray-300 dark:divide-gray-700;
}
.icon-size {
  @apply h-6 w-6;
}

.flex-center {
  @apply flex items-center justify-center;
}

/* * {
  box-shadow:
    0 0 0 1px red inset,
    0 0 0 1px red;
} */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
