@import 'tailwindcss';
@config '../tailwind.config.js';

.katex-display {
  overflow: auto hidden;
}

.content-header {
  @apply relative flex cursor-pointer items-start;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.content-header-link {
  @apply absolute ml-1 hidden opacity-0 transition-opacity duration-200 lg:block;
}

.prose {
  @apply wrap-break-word;
}

.prose span[data-rehype-pretty-code-figure] code {
  @apply rounded-lg border border-neutral-600;
}

.prose pre {
  @apply my-0;
}

figcaption[data-rehype-pretty-code-title] {
  @apply my-0 overflow-x-auto rounded-t-lg bg-gray-600 p-2 pl-4 text-sm text-gray-300 dark:bg-gray-800;
}

figcaption[data-rehype-pretty-code-title] + div.relative pre {
  @apply my-0 overflow-x-auto rounded-t-none;
}

/* https://itsbruno.dev/blog/syntax-highlighting-for-mdx */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  padding: 0;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 0.5rem;
  text-align: left;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits='4'] > [data-line]::before {
  width: 2.25rem;
}
